<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main/auth/auth.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main/index.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jflix | Sign-Up</title>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.6.3.js')}}"></script>
</head>
<body>
	{%from "utils.html" import nav with context%}
	{{nav()}}

    <form method='post' action="#" autocomplete="off">
    	{{form.csrf_token()}}
    	<div id="email-container" class="field-hidden">
    		{{form.email.label}}
	    	{{form.email()}}
    	</div>
    	<div id="first-section">
    		{{form.name.label}}
	    	{{form.name()}}
    	</div>
    	<div id="middle-section">
    		{{form.middle_name.label}}
	    	{{form.middle_name()}}
    	</div>
    	<div id="last-section">
    		{{form.last_name.label}}
	    	{{form.last_name()}}
    	</div>
    	<div class="gender-section">
    		{{form.gender.label}}</br>
	    	{{form.gender()}}
    	</div>
    	<button id="next-button">
    		Next
    	</button>
    	{{form.send_data(class="field")}}

    </form>
    <script type="text/javascript">
    	var hfield=$('.field-hidden');
    	$(document).ready(function(){
    		var btn=$('#next-button');
    		btn.click(function(){
    			hfield.fadeIn(1000);
    		});
    	});
    </script>
</body>
</html>