@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Source+Code+Pro:ital,wght@0,200;1,200&display=swap');
a{
	text-decoration: none;
}
button:disabled{
	background: #fcba03 !important;
}
body{
	margin:0px;
	background:#202124/*black*/;
	padding: 0;
	color:gray;
}
p img{
	margin-bottom:10px;
	display: block;
	border-radius: 10px;
	transition: 1s ease-in;
	width: 100%;
	height:auto;
}
p img:hover{
	margin-bottom:10px;
	display: block;
	filter: grayscale(100%) brightness(1.0);
	border-radius: 10px;
}
#nav .nav-content{
    display: inline;
	float:right;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}
#nav .nav-content li{
	margin:5px;
	list-style-type:none;
	display: inline;
	padding-top: 10px;
}
#nav .nav-content li a{
	color:lightgray;
	text-decoration:none;
	font-family: 'Source code pro',monospace;
}
#nav span{
	margin-top:5px;
	font-size:25px;
	font-family: 'Martian Mono', monospace;
	
}
#nav span a{
	text-decoration:blink;
	color:#3af27b;
	text-shadow: 3px 3px 2px #3af27b;
}
#nav{
	background:#1b1c15;/*:whitesmoke*/
	padding:10px;
}
#intro-text{
	padding:0 20% 0 18%;
	font-size:16px;
	line-height:25px;
	font-family: 'Source code pro', monospace;
	font-weight: bolder;
}
p{
	line-height:30px;
}
#nav-btn-signup,#nav-btn-signin{
	border:none;
	width:100px;
	padding:10px;
	border-radius: 25px;
	background:gray;

}
#nav-btn-signup:hover{
	background:#3af27b;
	transition: .6s ease-in-out;
}
#nav-btn-signin:hover{
	background: #fcba03;
	transition: .4s ease-in-out;
}
.jay-foot{
	padding: 5% 20%;
	background: black;
}
@media screen and (max-width:800px){
	img{
		width: 500px;
		min-width:300px ;
	}
}
@media screen and (max-width:682px){
	img{
		width: 500px;
		min-width:300px ;
	}
	#intro-text{
		padding:5%;
		font-size: small;
	}
}
@media screen and (max-width:450px){
	#nav li{
		font-size: 50%;
	}
	
}