
.message{
	padding-left: 10px;
	margin-left: 10px;
	transition: .5s ease-in-out;
}
.form-error{
	border: 1.5px solid red !important;
}
.alert-error{
    width:95%;
    color: lightgrey;
    background-color: red;
    border: 1.5px solid red;
    padding: 5px;
    font-size: 15px;
    transition: .5s ease-in-out;
}
.alert-info{
	width:95%;
    color: lightgrey;
    background-color: #808080c7;
    background-image: linear-gradient(to right,#808080c7);
    border: 1.5px solid #04fbabb0;
    border-radius: 5px;
    padding: 5px;
    transition: .5s ease-in-out;
    font-size: 15px;
}
.text-error{
	color: red;
	margin: 10px;
}
#close{
	display: inline;
	float: right;
	font-size: 20px;
	margin-left: 5px;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#close:hover{
	color: red;
}