<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main/index.css')}}">
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.6.3.min.js')}}"></script>
	{% block head%}
	{% endblock %}
</head>
<body>
    {% block content%}
    {% endblock %}
    <script type="text/javascript" defer>
		$('#close').click(function(){
				$(this).parent().parent().hide();
			});
	</script>
</body>
</html>