{% extends "users/base.html"%}
{% block head %}
    <title>Jflix | Profile | {{user.first_name | title}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='users/css/profile_update.css')}}">
{% endblock %}
{% block body %}
<div class="profile-update">
	<h1>Make changes</h1>
	<form method="post" action="#" enctype="multipart/form-data">
		<img src="{{user.img_url}}" id="user-img">
		<h3>{{user.username}}</h3>
		<span>{{form.csrf_token()}}</span>
		{% if form.errors %}
	        {% if form.profile_image.errors%}
		        {{form.profile_image.label}}
			    <span>{{form.profile_image( class='file-error')}}</span>
	        {% else %}
	            {{form.profile_image.label}}
			    <span>{{form.profile_image()}}</span>
	        {% endif %}
	        {{form.errors}}
		{% else %}
		    {% autoescape True %}
			    <!--a form collector in collect user's data-->
		    {% endautoescape %}

		    {{form.profile_image.label}}
			<span>{{form.profile_image(value='thextt file .jpg')}}</span>
			<span>{{form.first_name()}}</span>
			<span>{{form.middle_name()}}</span>
			<span>{{form.last_name()}}</span>
			{{form.user_name.label}}
			<span>{{form.user_name()}}</span>
			{{form.d_o_b.label}}
			<span>{{form.d_o_b()}}</span>
			<span>{{form.modify()}}</span>
		{% endif %}

	</form>
</div>
{% endblock %}